.aptry {
  position: relative;
  background: material-color('green-grey', '100');
  padding: 6px;

  .control-bar {
    position: absolute;
    background: white;
    font-size: 1.2em;
    line-height: 48px;
    height: 48px;
    right: 6px;
    left: 6px;
  }

  .endpoint-selector {
    position: relative;

    &.open {
      .endpoint-selector-list {
        display: block;
        opacity: 1.0;
      }
    }

    .endpoint-selector-list {
      display: none;
      opacity: 0;
      position: absolute;
      z-index: 1000;
      background: white;
      list-style: none;
      border-radius: 3px;
      top: -14px;
      left: -14px;
      margin: 0;
      padding: 6px 0;
      @extend %in-context-box-shadow;

      > li {
        position: relative;
        padding: 8px 48px;
        padding-right: 36px;
        min-width: 222px;
        font-weight: 500;
        cursor: pointer;
        user-select: none;

        &:before {
          position: absolute;
          left: 20px;
          @include font-awesome;
        }

        &.selected {
          color: material-color('purple', 'a400');

          &:before {
            content: "\f00c";
          }
        }

        &:hover {
          background: lighten(material-color('purple', 'a400'), 48%);
        }

        &:active {
          background: material-color('purple', 'a400');
          color: white;

          &:before {
            content: "\f00c";
          }
        }
      }
    }

    .endpoint-selector-label {
      user-select: none;
      position: absolute;
      width: 30%;
      background: material-color('purple', 'a400');
      color: white;
      font-weight: 500;
      height: 48px;
      left: 0;
      padding: 0 12px;
      box-sizing: border-box;
      cursor: pointer;

      &:after {
        position: absolute;
        @include font-awesome;
        color: rgba(white, 0.66);
        content: "\f0d7";
        right: 12px;
        top: 1px;
        font-size: 22px;
      }

      &:hover {
        background: lighten(material-color('purple', 'a400'), 10%);

        &:after {
          color: rgba(white, 0.8);
        }

        &:active {
          background: lighten(material-color('purple', 'a400'), 48%);
          color: material-color('purple', 'a400');

          &:after {
            color: material-color('purple', 'a400');
          }
        }
      }
    }
  }

  .endpoint-path-input {
    position: absolute;
    width: 70%;
    height: 48px;
    right: 0;
    //margin-right: 4px;

    .readonly {
      margin-left: 8px;
      color: material-color('grey', '500');
    }

    input[type="submit"] {
      @extend %reader-only;
    }

    input {
      width: 100%;
      position: absolute;
      padding: 0;
      margin-left: 6.3em;
      border: 0;
      background: transparent;
      left: 0;
      box-sizing: border-box;
      height: 46px;
      outline: none;
    }
  }

  .console {
    margin-top: 48px;
    background: material-color('green-grey', '900');
    width: 100%;
    height: 700px;
    overflow-x: scroll;
    overflow-y: scroll;

    pre {
      margin: 0;
      padding: 0;
    }

    pre code {
      background: transparent;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.3em
    }
  }
}
